<mat-toolbar color="white" *ngIf="isLoggedIn$ | async as isLoggedIn">
  <span>
    <img src="assets/img/Rocket2.png" class="angular-logo">
    Rocket Mortgage
  </span>
  <span class="fill-remaining-space"></span>
  <!-- <button mat-button>Menu Option 01</button>
  <button mat-button>Menu Option 02</button> -->
  <!--button mat-button routerLink="login" *ngIf="!isLoggedIn; else notLoggedIn">Login</button>
  <ng-template #notLoggedIn>
    <button mat-button (click)="onLogout()">Logout</button>
  </ng-template -->
  <button mat-button (click)="onLogout()" *ngIf="isLoggedIn">Logout</button>
</mat-toolbar>
